body {
  margin: 0;
  padding: 0;
}

div, h1, h2, h3, h4, h5, h6, p, ul, li, span {
  margin: 0;
  padding: 0;
}

a {
  color: #626262;
}

a:visited {
  color: #626262;
}

a:hover {
  color: #626262;
}

.container {
  margin: 0;
  padding: 0
}
